@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*
    TODO LIST

    Show ordered list of called balls
    Button to call another ball
    Button to hand a card (create a new card)
    Button to restart the game

    Show table of cards, with the following:
    - List the numbers in the squares
    - Display the amount of unchecked boxes
    - A button to call for bingo, if the card has a shot (only 1 square unchecked)
    - A form (input and submit button) to check the entered number
*@
